/** @format */

.topNav {
  background-color: white;
}
.NavOuterContainer {
  margin-left: 0;
  margin-right: 0;
  background-color: black;
}
.logo {
  color: red;
  padding: 2px;
}
.name {
  background-color: black;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  padding-right: 0.8em;
}
.navContainer {
  display: flex;
}

.navContainer > div {
  display: flex;
}

.navigation a {
  display: inline-block;
  padding: 0.8em 1.4em;
  text-decoration: none;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  align-items: center;
  justify-content: center;
}

.navigation a:hover,
.navigation a.active {
  background: orange;
  color: white;
}

.search {
  align-items: center;
  justify-content: center;
  color: white;
  padding: 0.5em 1em;
  cursor: pointer;
}
.searchWord {
  padding-right: 20px;
}
.searchWidget {
  width: 650px;
}
.searchWidgetContainer {
  padding: 0.4em 0.3em;
}

.backToMenu {
  color: white;
  padding: 0.8em 0.4em;
}
.bars {
  font-family: Arial, Helvetica, sans-serif;
}
